defaults
  mode http
  option dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000

listen stats
  bind 0.0.0.0:8101
  stats enable
  stats refresh 5s
  stats hide-version
  stats realm Haproxy\ Statistics
  stats uri /

frontend medplum
  bind *:8103
  default_backend medplum

backend medplum
  balance roundrobin
  server srv1 medplum0:8103 check
  server srv2 medplum1:8103 check
  server srv3 medplum2:8103 check
  server srv4 medplum3:8103 check
